<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn " data-wow-delay="0.1s">
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center mb-3 mb-md-0">
                    &copy; <a class="" href="#">Repton Projects</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg  btn-lg-square rounded-circle back-to-top btn-primary"><i
        class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="/js/scripts.js" id="site-js"></script>
<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
    (function ($) {
        // Calculate  Margins for Left Column
        function calcMargins(anchor, wrap) {
            let containerWidth = $(anchor).offset().left;
            $(wrap).css('padding-left', containerWidth);
        }

        // Resize Main Image 
        function resizeImage() {
            var main_image = document.getElementById("main-img-container");
            main_image.style.width = document.getElementsByClassName("right-col")[0].offsetWidth + "px"
        }

        // Initial Load
        calcMargins('.grid-container', '.banner-block .left-col');
        resizeImage();

        // On browser resize
        $(window).on('resize', function () {
            calcMargins('.grid-container', '.banner-block .left-col');
            resizeImage();
        });
    })(jQuery)
</script>